<h3> Version #1</h3>
{{#link-to 'r' 'pics'}}/r/pics{{/link-to}}<br>
{{#link-to 'r' 'wallpaper'}}/r/wallpaper{{/link-to}}<br>
{{#link-to 'r' 'reactiongifs'}}/r/reactiongifs{{/link-to}}<br>
{{#link-to 'r' 'wallpapers'}}/r/wallpapers{{/link-to}}<br>
{{#link-to 'r' 'aww'}}/r/aww{{/link-to}}<br>
{{#link-to 'r' 'cats'}}/r/cats{{/link-to}}<br>
{{#link-to 'r' 'foxes'}}/r/foxes{{/link-to}}<br>
{{#link-to 'r' 'images'}}/r/images{{/link-to}}<br>
{{#link-to 'r' 'memes'}}/r/memes{{/link-to}}<br>
{{#link-to 'r' 'disney'}}/r/disney{{/link-to}}<br>

<h3> Version #2</h3>
{{#link-to 'reddit' 'pics'}}/reddit/pics{{/link-to}}<br>
{{#link-to 'reddit' 'wallpaper'}}/reddit/wallpaper{{/link-to}}<br>
{{#link-to 'reddit' 'reactiongifs'}}/reddit/reactiongifs{{/link-to}}<br>
{{#link-to 'reddit' 'wallpapers'}}/reddit/wallpapers{{/link-to}}<br>
{{#link-to 'reddit' 'aww'}}/reddit/aww{{/link-to}}<br>
{{#link-to 'reddit' 'cats'}}/reddit/cats{{/link-to}}<br>
{{#link-to 'reddit' 'foxes'}}/reddit/foxes{{/link-to}}<br>
{{#link-to 'reddit' 'images'}}/reddit/images{{/link-to}}<br>
{{#link-to 'reddit' 'memes'}}/reddit/memes{{/link-to}}<br>
{{#link-to 'reddit' 'disney'}}/reddit/disney{{/link-to}}<br>

<br>
Just type in URL there are versions: /r/nameofsubreddit or /reddit/nameofsubreddit
